{% load static from staticfiles %}
{% load i18n static %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Decide</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

 <link href="css/shop-homepage.css" rel="stylesheet">

    
  <style>

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
} 
  
  </style>
    
</head>
<body>
<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
    <div class="container">
     <a href="/admin" class="btn btn-outline-warning" role="button" aria-pressed="true" style ="margin-right:40px;">{% trans 'Administrador' %}</a>
      <a class="navbar-brand" href="/" style ="border: 2px solid white; padding: 10px; border-radius: 10px" >Decide</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/pcGames">{% trans 'Authentication' %}    
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/census/listCensus">{% trans 'Census' %}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/psxGames">{% trans 'Mixnet' %}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/nintendoGames">{% trans 'Postproc' %}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/nintendoGames">{% trans 'Store' %}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/nintendoGames">{% trans 'Visualizer' %}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/nintendoGames">{% trans 'Voting' %}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Page Content -->
  <div class="container-lg" style="margin-top: 100px; width:2000px;" >
  
    <div class="row">

      <div class="col-lg-3">
        <!-- 
        <h4 class="my-4" style = "color: white">ORDENAR POR:</h4>
        <div class="list-group">
          <a href="/priceAsc" class="list-group-item">PRECIO</a>
          <a href="/rateAsc" class="list-group-item">VALORACION</a>
          <a href="/commentsAsc" class="list-group-item">NUM COMENTARIOS</a>
        </div>
        -->
      </div>
      <!-- /.col-lg-3 -->
  </div>
  <!-- /.container -->
  <section class='contenido'>
    {% block contenido %} {% endblock %}
  </section>

  
<script src= "{% static 'jquery.min.js' %}"></script>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
  
  <footer>
    <p>{% trans 'Proyecto sin ánimo de lucro de la asignatura EGC de la universidad de Sevilla &copy;2020' %}</p>
  </footer>
   
</body>
</html>