{% extends 'base.html' %}
{% load i18n static %}
{% include 'admin/object_history.html' %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "census/style.css" %}" />
{% endblock %}

{% block content %}

 <div class="container">
  <nav>
    <div class="nav-wrapper row teal darken-3">
      <div class="col s12">
            <a href="" class="breadcrumb">{% trans "Census history" %}</a>
      </div>
      </div>
    </div>
  </nav>
  <br>
<h5> &nbsp; {% trans 'History' %}</h5>
  
{% if action_list %}
    <table class="centered">
      <tbody style="background: rgba(128, 255, 0, 0.3); border: 1px solid rgba(100, 200, 0, 0.3);">
        <tr>
            <th colspan="2"> &nbsp; {% trans 'Date/time' %} &nbsp;</th>
            <th colspan="2"> &nbsp; {% trans 'User' %}      &nbsp;</th>
            <th colspan="2"> &nbsp; {% trans 'Name' %}      &nbsp;</th>
            <th colspan="2"> &nbsp; {% trans 'Email' %}     &nbsp;</th>
            <th colspan="2"> &nbsp; {% trans 'Staff' %}     &nbsp;</th>
            <th colspan="2"> &nbsp; {% trans 'Action' %}    &nbsp;</th>
        </tr>
      </tbody>
        <tbody style="background: rgba(255, 128, 0, 0.3); border: 1px solid rgba(200, 100, 0, 0.3);">
        {% for action in action_list %}
        <tr>
            <th colspan="2"> &nbsp;{{ action.action_time|date:"DATETIME_FORMAT" }} &nbsp;</th>
            <td colspan="2"> &nbsp;{{ action.user.get_username  }} &nbsp;</td>
            <td colspan="2"> &nbsp;{{ action.user.get_full_name }} &nbsp;</td>
            <td colspan="2"> &nbsp;{{ action.user.email }}         &nbsp;</td>
            <td colspan="2"> &nbsp;{{ action.user.is_staff}}       &nbsp;</td>
            <td colspan="2"> &nbsp;{{ action.get_change_message }} &nbsp;</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p>
{% endif %}
<br>
<br>
<td><a href="" class="waves-effect waves-light btn">{% trans "Back" %}</a></td>
</div>
{% endblock %}