{% extends "base.html" %}
{% load i18n static %}
{% block content %}

<div class="container">
  <nav>
    <div class="nav-wrapper row teal darken-3">
      <div class="col s12">
        <a href="/" class="breadcrumb">Home</a>
        <a href="" class="breadcrumb">View Voters</a>
      </div>
    </div>
  </nav>

<h4>{% trans 'View Voters' %}</h4>
<table class="centered responsive-table">
  <table>
        <thead>
          <tr>
              <th>{% trans 'First name' %} &nbsp; </th>
              <th>{% trans 'Last name' %}  &nbsp; </th>
              <th>{% trans 'Username' %}   &nbsp; </th>
              <th>{% trans 'Email' %}      &nbsp; </th>
          </tr>
        </thead>
  <tbody>        
  {% for voter in users %}
    <tr>
        <td>{{voter.first_name}} &nbsp;</td>
        <td>{{voter.last_name}}  &nbsp;</td>
        <td>{{voter.username}}   &nbsp;</td>
        <td>{{voter.email}}      &nbsp;</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
</table>
</div>
<div>
<br>
<br>
<td><a href="" class="waves-effect waves-light btn">{% trans "Back" %}</a></td>
</div>

{% endblock %}